In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Comparison of Classifiers for Student Performance Prediction

The objective in this assignment is to compare the performance of different classifiers on the Student Performance dataset Download Student Performance dataset. What is the best algorithm for the dataset? How does ANNs compare to other ML methods? What is the best ANN architecture?

In [3]:
student_data = pd.read_csv('data/data.csv',sep=';')
student_data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

# Describe the dataset:
This dataset is sourced from a higher education institution and contains information about students enrolled in various undergraduate degree programs. It includes features that provide personal details about the students, such as their marital status, parents education levels, and gender.

Additionally, the dataset includes academic-related information, including the students fields of study, academic performance, and attendance records.

The target variable indicates the state of each student at the end of their course, classifying them as a dropout, still enrolled, or graduated.

The purpose of this dataset is to identify potential patterns between the features and the target variable, aiming to understand the factors that influence whether students drop out, continue their studies, or graduate based on their academic paths and personal and family backgrounds.

From the UCI link where this data is from it looks like they already have performed some preprocessing of the data: removed unexplainable outliers, missing values and anomolies. so we don't have to think about this. The categorical values in the features are already encoded. They are encoded from 1 to however many categories there are. 

https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success

# Perform exploratory analysis of the dataset

# Perform pre-processing of data

# Split the dataset into suitable partitions

In [ ]:
features = student_data.drop('Target', axis=1)
targets = student_data['Target']

train_val_features, test_features, train_val_targets, test_targets = train_test_split(features, targets, test_size=0.2)

# use hyperparameter tuning to find the best possible network configuration

# function to evaluate model

# grid search funtion